<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Homepage</title>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style type="text/css">
        html, body{
            height: 100%;
        }
        header{
            position: fixed;
            width: 100%;
            background-color: darkslategray;
        }
        .jumbotron{
            min-height: 100%;
        }
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: darkslategray;
            color: white;
            text-align: center;
        }

    </style>
</head>

<header>
    <div class="container" >
        <h3 style="color: aliceblue"><i><b>Carparts Warehouse</b></i></h3>
    </div>
</header>

<body>

    <div class="jumbotron" align="center">
        <br>
        <h2>
            Add a product
        </h2>

        <form method="POST"> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save"/>
        </form>

        <br>
        <a class="btn btn-info" role="button" href="../">Back</a>

    </div>

</body>

<footer>
    <div class="container" >
        <h3 align="right" style="color: aliceblue"><i><b>Contact us for more offers</b></i></h3>
    </div>
</footer>

</html>

